In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [3]:
song_data = pd.read_csv('C:/Users/CYU22/song_data.csv', delimiter=",", na_values='nan')

In [4]:
song_data.head()
# return top n (5 by default) rows of song_data.csv

,song_id,title,release,artist_name,year
0,SOQMMHC12AB0180CB8,Silent Night,Monster Ballads X-Mas,Faster Pussy cat,2003
1,SOVFVAK12A8C1350D9,Tanssi vaan,Karkuteillä,Karkkiautomaatti,1995
2,SOGTUKN12AB017F4F1,No One Could Ever,Butter,Hudson Mohawke,2006
3,SOBNYVR12A8C13558C,Si Vos Querés,De Culo,Yerba Brava,2003
4,SOHSBXH12A8C13B0DF,Tangle Of Aspens,Rene Ablaze Presents Winter Sessions,Der Mystic,0

In [5]:
song_data.info()
# get a concise summary of the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
song_id        1000000 non-null object
title          999985 non-null object
release        999995 non-null object
artist_name    1000000 non-null object
year           1000000 non-null int64
dtypes: int64(1), object(4)
memory usage: 38.1+ MB

In [6]:
# check data types
song_data.dtypes

song_id        object
title          object
release        object
artist_name    object
year            int64
dtype: object

In [7]:
song_data.values
# returns a list of all the values available in the dataframe.

array([['SOQMMHC12AB0180CB8', 'Silent Night', 'Monster Ballads X-Mas',
        'Faster Pussy cat', 2003],
       ['SOVFVAK12A8C1350D9', 'Tanssi vaan', 'Karkuteillä',
        'Karkkiautomaatti', 1995],
       ['SOGTUKN12AB017F4F1', 'No One Could Ever', 'Butter',
        'Hudson Mohawke', 2006],
       ...,
       ['SOHODZI12A8C137BB3', 'Novemba',
        'Dub_Connected: electronic music', 'Gabriel Le Mar', 0],
       ['SOLXGOR12A81C21EB7', 'Faraday', 'The Trance Collection Vol. 2',
        'Elude', 0],
       ['SOWXJXQ12AB0189F43', 'Fernweh feat. Sektion Kuchikäschtli',
        'So Oder So', 'Texta', 2004]], dtype=object)

In [9]:
song_data.shape 
# get the current shape of the dataframe
rows, columns = song_data.shape

In [10]:
# Get basic statistics for continuous features
numeric = song_data.describe(include=['number']).T.reset_index()
numeric.rename(columns={'index':'feature'},inplace=True)
numeric.insert(1,'missing',(rows - numeric['count'])/ float(rows))
numeric[0:5]

,feature,missing,count,mean,std,min,25%,50%,75%,max
0,year,0.000,1000000.000,1030.326,998.745,0.000,0.000,1969.000,2002.000,2011.000

In [11]:
## Get basic statistics for discrete features
discrete = song_data.describe(include=['object']).T.reset_index()
discrete.rename(columns={'index':'feature'},inplace=True)
discrete.insert(1,'missing',(rows - discrete['count'])/ float(rows))
discrete[0:5]

       feature missing    count  unique                 top  freq
0      song_id   0.000  1000000  999056  SODOLVO12B0B80B2F4     3
1        title   0.000   999985  702428               Intro  1510
2      release   0.000   999995  149288       Greatest Hits  2014
3  artist_name   0.000  1000000   72665     Michael Jackson   194

In [12]:
## Check missing cases in song_data
song_data.isnull().any()

song_id        False
title           True
release         True
artist_name    False
year           False
dtype: bool

In [13]:
# check characteristics for all features
song_data.describe(include="all")

                   song_id   title        release      artist_name        year
count              1000000  999985         999995          1000000 1000000.000
unique              999056  702428         149288            72665         nan
top     SODOLVO12B0B80B2F4   Intro  Greatest Hits  Michael Jackson         nan
freq                     3    1510           2014              194         nan
mean                   NaN     NaN            NaN              NaN    1030.326
std                    NaN     NaN            NaN              NaN     998.745
min                    NaN     NaN            NaN              NaN       0.000
25%                    NaN     NaN            NaN              NaN       0.000
50%                    NaN     NaN            NaN              NaN    1969.000
75%                    NaN     NaN            NaN              NaN    2002.000
max                    NaN     NaN            NaN              NaN    2011.000

In [14]:
# remove the rows where year equals to 0
song_data= song_data[song_data.year != 0]

In [16]:
song_data.head(10)

,song_id,title,release,artist_name,year
0,SOQMMHC12AB0180CB8,Silent Night,Monster Ballads X-Mas,Faster Pussy cat,2003
1,SOVFVAK12A8C1350D9,Tanssi vaan,Karkuteillä,Karkkiautomaatti,1995
2,SOGTUKN12AB017F4F1,No One Could Ever,Butter,Hudson Mohawke,2006
3,SOBNYVR12A8C13558C,Si Vos Querés,De Culo,Yerba Brava,2003
7,SOEYRFT12AB018936C,2 Da Beat Ch'yall,Da Bomb,Kris Kross,1993
10,SOYGNWH12AB018191E,L'antarctique,Des cobras des tarentules,3 Gars Su'l Sofa,2007
11,SOLJTLX12AB01890ED,El hijo del pueblo,32 Grandes Éxitos CD 2,Jorge Negrete,1997
13,SOMPVQB12A8C1379BB,Pilots,The Loyal,Tiger Lou,2005
15,SOSDCFG12AB0184647,006,Lena 20 År,Lena Philipsson,1998
16,SOBARPM12A8C133DFF,(Looking For) The Heart Of Saturday,Cover Girl,Shawn Colvin,1994

In [17]:
year_range = pd.qcut(song_data.year, 3)

In [21]:
# split the year into three groups based on time range
song_type = pd.qcut(song_data.year, [0, .33, .66, 1], labels=["old", "mid", "new"], retbins=True)
song_type

(0         mid
 1         old
 2         new
 3         mid
 7         old
 10        new
 11        old
 13        mid
 15        mid
 16        old
 17        new
 18        new
 22        old
 23        mid
 26        mid
 27        mid
 33        mid
 34        old
 35        new
 37        mid
 39        mid
 41        old
 43        new
 44        old
 45        new
 47        mid
 52        old
 53        mid
 54        mid
 57        old
          ...
 999928    old
 999929    new
 999931    new
 999935    new
 999936    new
 999937    old
 999938    mid
 999939    mid
 999940    mid
 999941    old
 999944    mid
 999947    new
 999950    mid
 999957    mid
 999958    mid
 999964    mid
 999965    mid
 999970    new
 999971    old
 999972    old
 999973    new
 999977    mid
 999979    mid
 999980    old
 999984    new
 999987    mid
 999990    new
 999991    mid
 999992    old
 999999    mid
 Name: year, Length: 515576, dtype: category
 Categories (3, object): [old < mid < new],
 array([1922., 1997., 2005., 2011.]))